
<center>
<h2>Employee form</h2>

{{msg}}

<a href="/view">View All EMps</a> <br/><br/><br/>
  <form action="/EmpInsert" method="post" >
    <div class="form-group">
      <label for="Eid">Eid:</label>

      <input type="text" class="form-control" name="eid">
    </div>
    <div class="form-group">
      <label for="pwd">Name:</label>
      <input type="text" class="form-control"  name="ename">
    </div>
    <div class="form-group">
      <label for="pwd">Salary:</label>
      <input type="text" class="form-control"  name="salary">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</center>
